# sample app.env

# Frigate
FRIGATE_HOST=localhost

# MQTT Config
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=username
MQTT_PASSWORD=password

# Compreface Config
COMPREFACE_HOST=localhost
COMPREFACE_API_KEY=apiKey

# API Server Port
SERVER_PORT=8080